#  Local .terraform directories
**/.terraform

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ansible-related
*.retry
hosts
local-vars.yaml

# Python-related
/.venv/

# Use this folder for your own test network configurations. You can commit this
# folder to a separate repository for version control.
/mytestnets/
