[Unit]
Description={{ node_groups[node_group]['service_desc'] }}
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ node_groups[node_group]['service_user'] }}
Group={{ node_groups[node_group]['service_group'] }}
PermissionsStartOnly=true
ExecStart={{ node_groups[node_group]['service_exec_cmd'] }}
KillSignal=SIGTERM
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
LimitMEMLOCK=infinity
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ node_groups[node_group]['service_name'] }}

[Install]
WantedBy=multi-user.target
