[Unit]
Description={{ service_desc }}
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ service_user }}
Group={{ service_group }}
PermissionsStartOnly=true
ExecStart={{ service_exec_cmd }}
KillSignal=SIGTERM
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
LimitMEMLOCK=infinity
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ service_name }}

[Install]
WantedBy=multi-user.target
